.element__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-columns: repeat(auto-fill, min-max(282px, 1fr));
  padding-bottom: 67px;
  gap: 17px 17px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .element__list {
    grid-template-columns: repeat(2, 1fr );
    }
  }

@media screen and (max-width: 767px) {
.element__list {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 48px;
  }
}
