.page__content {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .page__content {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 36px;
  }
}
