.profile__avatar {
  width: 125px;
  height: 110px;
  border-radius: 50%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }
}
